<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>GET: <a href="http://127.0.0.1:8000/get_users">get_users</a></p>
    <p>GET single user: <a href="http://127.0.0.1:8000/get_user/aaron">get_users/aaron</a></p>
    <p>POST: <a href="http://127.0.0.1:8000/create_user/4/steve">create_user/4/steve</a></p>
    <p>PUT: <a href="http://127.0.0.1:8000/update_user/1/paul">update_user/1/paul</a></p>
    <p>DELETE: <a href="http://127.0.0.1:8000/delete_user/1">delete_user/1</a></p>
</body>
</html>